header {
  text-align: center;
  color: #000000;
  padding-top: 70px;

}

img{
  border-radius: 30%;
}

body{
  font-size:150%;
  background-image: url(../images/brown.jpg);
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  padding: 0;
  list-style-type: none;
}

footer {
  text-align: center;
  padding: 1rem;
  
}


/* screen size*/
@media only screen and (min-width:600px) {
  body{
    background-color: lightblue;
  }
}

@media only screen and (min-width:768px) {
  body{
    background-color: lightcoral;
  }
}

@media only screen and (min-width:922px) {
  body{
    background-color: lightgreen;
  }
}


/*Id*/

#sidebar{
  text-align: center;
  color: #000000;
}

#context{
 width: 100%;
 padding: 1rem;
 
}

#heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#job1{
  border: black solid 2px; 
  background-color: transparent;
  border-radius: 25px; 
}

#job2{
  border: black solid 2px; 
  background-color: transparent;
  border-radius: 25px; 
}


/*Class*/

.icons{
 width: 7rem;
 height: auto;
 margin: 2.5%;
 border-radius: 30%;
}

.main{
  display: flex;
  flex-direction: row; 
}

.justify-context-center{
  text-align: center;
}


/*links*/

a:link{
  color: inherit;
}

a:visited{
  color: inherit;
}


 /* The animation code */
@keyframes MyInstagram {
  
  0% {transform: rotate(90deg);}
  25% {transform: scale(0.5);}
  50% {transform: rotate(90deg);}
  75% {transform: scale(1);}
  100%{transform: rotate(90deg);}
}

/* The element to apply the animation to */
.icons {
  width: 100px;
  height: 100px;
  animation-name: MyInstagram ;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  filter: contrast(80%); 
}
